@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto M";
  src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto B";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #111;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  margin: 0;
  overflow-x: hidden;
}

h2 {
  font-size: 24px;
  padding: 50px 0;
  padding-top: 100px;
  text-align: center;
  font-weight: bold;
}

[fadeIn] {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
[fadeIn] img {
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}

[fadeIn=show] {
  opacity: 1;
}

[fadeIn=hide] {
  opacity: 0;
}

#content {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
#content > section {
  min-height: 100vh;
  background: #fff;
}

[title~=interaction] {
  cursor: pointer;
  position: absolute;
  top: 320px;
  bottom: 0;
  display: block;
  width: 40px;
  height: 40px;
  margin: auto 0;
  position: absolute;
  border: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background-color: #fff8;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/svg/arrow.svg");
}
[title~=interaction]:hover {
  background-color: #fff;
}
[title~=interaction]:first-child {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
[title~=interaction]:last-child {
  right: 0;
}
@media (max-width: 640px) {
  [title~=interaction] {
    top: 50vw;
  }
}

.menu-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  transition: 0.5s;
}
.menu-wrap > div {
  display: flex;
  align-items: center;
}

.menu-wrap ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu-wrap a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  transition: 0.5s;
  font-family: "Roboto", cursive;
  font-weight: bold;
  font-size: 16px;
}

.showreel {
  text-align: center;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  background: #0000;
  border: 0;
  outline: none;
  letter-spacing: 2px;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
.showreel:hover {
  cursor: pointer;
}
.showreel:hover::before {
  margin-left: 2.5px;
}
.showreel::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  margin-right: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#showreel {
  opacity: 1;
  min-height: unset !important;
  position: fixed;
  height: 40vw;
  width: 80vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
#showreel h2 {
  font-size: 24px;
  padding: 50px 0;
  padding-top: 100px;
  text-align: center;
  font-weight: bold;
  z-index: 4;
  position: fixed;
  text-align: center;
  bottom: 50px;
  right: 0;
  color: #fff;
  text-transform: uppercase;
}
#showreel video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: 0 0 300px -50px #fff;
}
@media (max-width: 1080px) {
  #showreel {
    height: 50vw;
    width: 100vw;
  }
}

#showreelOut {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: #0008;
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}

#showreel[hide] {
  opacity: 0;
  z-index: -1;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}

#vimeoVideos {
  position: relative;
}

#videos iframe {
  background: #000;
  width: 100%;
  height: 40vw;
}
@media (max-width: 1080px) {
  #videos iframe {
    height: 55vw;
  }
}
#videos p {
  width: 80%;
  max-width: 300px;
  line-height: 1.25;
  margin-left: 14%;
  padding: 2.5% 0 10%;
  font-size: 18px;
}
@media (max-width: 1080px) {
  #videos p {
    margin-left: 5%;
  }
}

header {
  background: #fff;
  box-shadow: 0 0 25px -20px #000;
  height: 75px;
  width: 100vw;
  position: relative;
  padding: 10px 0 0 0;
  top: 0;
  z-index: 2;
}

#images {
  display: grid;
  grid-template-columns: 2fr 320px;
  grid-gap: 25px;
}
@media (max-width: 1080px) {
  #images {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
}
#images a {
  width: 95%;
  margin-left: auto;
  height: 40vw;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#images a:hover {
  cursor: pointer;
}
#images a:hover::after, #images a:hover::before {
  opacity: 1;
}
#images a::before {
  width: 50px;
  height: 5px;
}
#images a::after {
  width: 5px;
  height: 50px;
}
#images a::after, #images a::before {
  content: "";
  opacity: 0;
  display: block;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#images p {
  padding-right: 50px;
  height: 165px;
  width: 85%;
  margin: auto;
  line-height: 1.25;
  letter-spacing: 1px;
}
@media (max-width: 1080px) {
  #images p {
    width: 100%;
    padding: 15px 35px 75px;
    box-sizing: border-box;
  }
}

.logo {
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 140px;
  display: block;
}

[logo] {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

[mostradles] {
  margin: auto;
  width: 100%;
  background-image: url("../img/hero_img.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 50px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: justify;
}
[mostradles] h1 {
  font-size: 5vw;
  padding: 50px;
  text-align: center;
}
[mostradles] p {
  position: relative;
  width: 90%;
  max-width: 640px;
  text-align: center;
  margin: auto;
  color: #fff;
}

[mostradles] p span {
  line-height: 1.5;
  will-change: opacity;
  animation: show 1s forwards;
  display: inline-block;
  color: #0000;
  -webkit-animation: show 2.5s forwards;
  white-space: pre;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}
@keyframes show {
  from {
    color: #0000;
  }
  to {
    color: #fff;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

.logo-animation img {
  margin: 50px auto 0;
  display: block;
  width: 90%;
  max-width: 420px;
  mix-blend-mode: exclusion;
}
@media (max-width: 640px) {
  .logo-animation img {
    margin-top: 170px;
  }
}

i.fab {
  font-size: 30px;
}

.menu-wrapper {
  position: fixed;
}
.menu-wrapper aside {
  position: absolute;
  bottom: 40px;
  left: calc(35vw - 30px + 15px);
}
@media (max-width: 1080px) {
  .menu-wrapper aside {
    left: calc(100vw - 30px - 30px * 2);
  }
}
.menu-wrapper aside li {
  text-align: center;
}
.menu-wrapper aside a {
  color: #fff;
}
.menu-wrapper aside i {
  padding: 10px;
}

.page-footer {
  background: #101010;
  color: #fff;
}
.page-footer b {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 0 0 25px;
  text-align: center;
}
.page-footer .social-links {
  display: flex;
  justify-content: center;
}
.page-footer .social-links a {
  color: #fff;
}
.page-footer .social-links i {
  padding: 25px;
}
.page-footer .logo {
  mix-blend-mode: exclusion;
  margin: auto;
  padding: 70px 10px;
  margin: 0px auto;
}

.show-up-links {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 50px;
  animation: goDownInvitation 2s infinite;
  -webkit-animation: goDownInvitation 2s infinite;
}
@keyframes goDownInvitation {
  0% {
    opacity: 0;
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

.avatar-wrapper {
  max-width: 980px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px auto;
}
@media (max-width: 1080px) {
  .avatar-wrapper {
    grid-template-columns: 1fr;
  }
}

.avatar {
  position: relative;
  width: 350px;
  height: 350px;
  margin: auto;
  background-image: url("../img/jpg/avatar.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: fallFromSky 3s forwards;
  -webkit-animation: fallFromSky 3s forwards;
  opacity: 0;
  transform: translateX(-10vw);
  -webkit-transform: translateX(-10vw);
  -moz-transform: translateX(-10vw);
  -ms-transform: translateX(-10vw);
  -o-transform: translateX(-10vw);
}
@media (max-width: 1080px) {
  .avatar {
    width: 190px;
    height: 190px;
  }
}
@keyframes fallFromSky {
  to {
    opacity: 1;
    transform: translateX(0vw);
    -webkit-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    -o-transform: translateX(0vw);
  }
}

.avatar-info {
  font-size: 18px;
  width: 320px;
  margin: auto;
}
@media (max-width: 1080px) {
  .avatar-info {
    margin: 50px auto;
    width: 220px;
  }
}

#skills div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
#skills ul {
  list-style: circle;
  padding-left: 25px;
  max-width: 640px;
  margin: auto;
}
#skills li {
  font-size: 20px;
  margin: 20px 0;
}

#behindScenesImages {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 150px;
}
#behindScenesImages div {
  padding-bottom: 75%;
  background-color: #333;
  background-size: cover;
  background-position: center;
}

.back-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 15px;
  background: #0008;
  color: #fff;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 24px;
}
.back-top:hover {
  cursor: pointer;
  background: #000;
}

/*# sourceMappingURL=style.css.map */
