@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato Black Italic";
  src: url("../../fonts/Lato-BlackItalic.ttf") format("truetype");
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #111;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato";
  margin: 0;
  overflow-x: hidden;
}

h2 {
  font-size: 24px;
  padding: 50px 0;
  padding-top: 100px;
  text-align: center;
  font-weight: bold;
}

[fadeIn] {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
[fadeIn] img {
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}

[fadeIn=show] {
  opacity: 1;
}

[fadeIn=hide] {
  opacity: 0;
}

#content > section {
  min-height: 100vh;
  background: #fff;
}

[title~=interaction] {
  cursor: pointer;
  position: absolute;
  top: 320px;
  bottom: 0;
  display: block;
  width: 40px;
  height: 40px;
  margin: auto 0;
  position: absolute;
  border: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background-color: #fff8;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/svg/arrow.svg");
}
[title~=interaction]:hover {
  background-color: #fff;
}
[title~=interaction]:first-child {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
[title~=interaction]:last-child {
  right: 0;
}
@media (max-width: 640px) {
  [title~=interaction] {
    top: 50vw;
  }
}

.menu-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.2em;
}

.menu {
  padding: 50px 0;
  background: #101010;
  width: 100%;
  top: -100vh;
  bottom: 0;
  left: 100vw;
  box-sizing: border-box;
  position: absolute;
  transition: 1s;
}
.menu footer {
  position: absolute;
  bottom: 0;
}
.menu footer i {
  padding: 0 25px 25px;
  color: #fff;
  display: block;
}

.menu-input {
  transform: rotate(0deg);
  z-index: 1;
  position: fixed;
  transition: 0.5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  top: 0px;
  appearance: none;
  width: 30px;
  height: 5px;
  right: 25px;
  background: #101010;
  margin: 35px auto;
}
.menu-input:hover {
  cursor: pointer;
}
.menu-input:before, .menu-input:after {
  transition: 0.25s;
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  background: #101010;
  position: absolute;
  transform: rotate(0deg);
}
.menu-input:before:hover, .menu-input:after:hover {
  cursor: pointer;
}
.menu-input:before {
  top: -10px;
}
.menu-input:after {
  top: 10px;
}

.menu-input:checked + .menu {
  left: 75vw;
}
@media (max-width: 1080px) {
  .menu-input:checked + .menu {
    left: 50vw;
  }
}
@media (max-width: 640px) {
  .menu-input:checked + .menu {
    left: 25vw;
  }
}

.menu-input:checked {
  height: 0;
  top: 5px;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.menu-input:checked:before, .menu-input:checked:after {
  top: -5px;
}
.menu-input:checked:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.menu-input:checked:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.menu__list {
  list-style: none;
}

.menu-label {
  z-index: 1;
  display: block;
  background: #fff;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 22.5px;
  right: 25px;
  margin: auto;
  border-radius: 50%;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.menu-label:hover {
  cursor: pointer;
}

.menu__list {
  padding: 0;
  margin: 20px 0;
}

.item__anchor {
  transition: 0.5s;
  padding: 25px;
  display: block;
  text-decoration: none;
  color: #666;
  box-shadow: inset 0px 0 0 #0000;
}
.item__anchor:hover {
  box-shadow: inset 10px 0 0 #fff;
  text-decoration: underline;
  color: #fff;
}

.showreel {
  position: absolute;
  width: 100px;
  text-align: center;
  left: 0;
  right: 0;
  top: 30px;
  margin: auto;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  background: #0000;
  border: 0;
  outline: none;
  letter-spacing: 2px;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
.showreel:hover {
  cursor: pointer;
}
.showreel:hover::before {
  margin-left: 2.5px;
}
.showreel::before {
  color: #000;
  content: "►";
  margin-right: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#showreel {
  opacity: 1;
  min-height: unset !important;
  position: fixed;
  height: 40vw;
  width: 80vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
#showreel h2 {
  font-size: 24px;
  padding: 50px 0;
  padding-top: 100px;
  text-align: center;
  font-weight: bold;
  z-index: 4;
  position: fixed;
  text-align: center;
  bottom: 50px;
  right: 0;
  color: #fff;
  text-transform: uppercase;
}
#showreel video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: 0 0 300px -50px #fff;
}
@media (max-width: 1080px) {
  #showreel {
    height: 50vw;
    width: 100vw;
  }
}

#showreelOut {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #0008;
  transform: scale(200);
  -webkit-transform: scale(200);
  -moz-transform: scale(200);
  -ms-transform: scale(200);
  -o-transform: scale(200);
}

#showreel[hide] {
  opacity: 0;
  z-index: -1;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}

#vimeoVideos {
  position: relative;
}

#videos iframe {
  width: 100%;
  height: 40vw;
}
@media (max-width: 1080px) {
  #videos iframe {
    height: 55vw;
  }
}
#videos p {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 2.5% 0 10%;
}

header {
  background: #fff;
  box-shadow: 0 0 25px -20px #000;
  height: 75px;
  width: 100vw;
  position: sticky;
  padding: 10px 0 0 0;
  top: 0;
  z-index: 2;
}

#images {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 100px;
}
@media (max-width: 1080px) {
  #images {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
}
#images div {
  width: 100%;
  height: 40vw;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#images div:hover {
  cursor: pointer;
}
#images div:hover::after, #images div:hover::before {
  opacity: 1;
}
#images div::before {
  width: 50px;
  height: 5px;
}
#images div::after {
  width: 5px;
  height: 50px;
}
#images div::after, #images div::before {
  content: "";
  opacity: 0;
  display: block;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#images p {
  width: 90%;
  line-height: 1.25;
  letter-spacing: 1px;
}
@media (max-width: 1080px) {
  #images p {
    width: 100%;
    padding: 15px 35px 75px;
    box-sizing: border-box;
  }
}

.logo {
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 80%;
  margin-right: auto;
  display: block;
}

[mostradles] {
  margin: auto;
  width: 100%;
  max-width: 640px;
  padding: 50px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: justify;
}
[mostradles] h1 {
  font-size: 5vw;
  padding: 50px;
  text-align: center;
}

[mostradles] p span {
  line-height: 1.5;
  will-change: opacity;
  animation: show 1s forwards;
  display: inline-block;
  color: #0000;
  -webkit-animation: show 2.5s forwards;
  white-space: pre;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}
@keyframes show {
  from {
    color: #0000;
  }
  to {
    color: #000;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

.logo-animation img {
  margin: auto;
  display: block;
  width: 100%;
}

i.fab {
  font-size: 30px;
}

.menu-wrapper {
  position: fixed;
}
.menu-wrapper aside {
  position: absolute;
  bottom: 15vh;
  left: 60vw;
}
@media (min-width: 640px) {
  .menu-wrapper aside {
    left: 40vw;
  }
}
@media (min-width: 1080px) {
  .menu-wrapper aside {
    left: 20vw;
  }
}
.menu-wrapper aside li {
  text-align: center;
}
.menu-wrapper aside a {
  color: #fff;
}
.menu-wrapper aside i {
  padding: 10px;
}

.page-footer {
  background: #101010;
  color: #fff;
}
.page-footer b {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
}
.page-footer .social-links {
  display: flex;
  justify-content: center;
}
.page-footer .social-links a {
  color: #fff;
}
.page-footer .social-links i {
  padding: 25px;
}

/*# sourceMappingURL=style.css.map */
