.avatar-wrapper > div {
    max-width: 980px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;

    @media (max-width: 1080px) {
        grid-template-columns: 1fr;
    }
}

.avatar {
    @media (max-width: 1080px) {
        width: 190px;
        height: 190px;
    }
    
    filter: grayscale(50%);
    position: relative;
    width: 350px;
    height: 350px;
    margin: auto;
    background-image: url('../img/jpg/avatar-min.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: fallFromSky 3s forwards;
    -webkit-animation: fallFromSky 3s forwards;
    opacity: 0;
    transform: translateX(-10vw);
    -webkit-transform: translateX(-10vw);
    -moz-transform: translateX(-10vw);
    -ms-transform: translateX(-10vw);
    -o-transform: translateX(-10vw);

    @keyframes fallFromSky {
        to {
            opacity: 1;
            transform: translateX(0vw);
            -webkit-transform: translateX(0vw);
            -moz-transform: translateX(0vw);
            -ms-transform: translateX(0vw);
            -o-transform: translateX(0vw);
        }
    }
}
.avatar-title {
    width: 320px;
    font-size: 20px;
    letter-spacing: 2px;
    @media (max-width: 1080px) {
        margin: 50px auto;
        width: 220px;
    }
    margin: 100px auto 30px;
}

.avatar-info {
    @media (max-width: 1080px) {
        margin: 50px auto;
        width: 220px;
    }

    font-size: 16px;
    width: 320px;
    margin: auto;
    letter-spacing: 1.91px;
    line-height: 1.5;
    color: #979797;
}
