#behindScenes {
    min-height: unset !important;
}

#behindScenesImages {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    padding-bottom: 5px;
    div {
        padding-bottom: 75%;
        background-color: #333;
        background-size: cover;
        background-position: center;
    }
}
