.page-footer {
    background: #000;
    color: #fff;
    padding-bottom: 50px;
    b {
        display: block;
        width: 300px;
        margin: 0 auto;
        padding: 0 0 25px;
        text-align: center;
    }
    .social-links {
        display: flex;
        justify-content: center;
        a {
            color: #fff;
        }
        i {
            padding: 10px;
        }
    }
    .logo {
        mix-blend-mode: exclusion;
        margin: auto;
        padding: 50px 10px 20px;
        margin: 0px auto;
    }
}
