.logo {
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 125px;
    height: 80%;
    margin-right: auto;
    display: block;
}