$laptopBP: 1080px;

.menu-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.2em;
}

.menu {
  footer {
    position: absolute;
    bottom: 0;
    i {
      padding: 0 25px 25px;
      color: #fff;
      display: block;
    }
  }
  padding: 50px 0;
  background: #101010;
  width: 100%;
  top: -100vh;
  bottom: 0;
  left: 100vw;
  box-sizing: border-box;
  position: absolute;
  transition: 1s;
}

.menu-input {
  transform: rotate(0deg);
  z-index: 1;
  position: fixed;
  transition: 0.5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  top: 0px;
  appearance: none;
  width: 30px;
  height: 5px;
  right: 25px;
  background: #101010;
  margin: 35px auto;
  //   float: right;
  &:hover {
    cursor: pointer;
  }
  &:before,
  &:after {
    transition: 0.25s;
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    background: #101010;
    position: absolute;
    transform: rotate(0deg);
    &:hover {
      cursor: pointer;
    }
  }
  &:before {
    top: -10px;
  }
  &:after {
    top: 10px;
  }
}

.menu-input:checked + .menu {
  left: 75vw;
  @media (max-width: 1080px) {
    left: 50vw;
  }
  @media (max-width: 640px) {
    left: 25vw;
  }
}

.menu-input:checked {
  &:before,
  &:after {
    top: -5px;
  }
  &:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  &:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
  height: 0;
  top: 5px;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.menu__list {
  list-style: none;
}

.menu-label {
  &:hover {
    cursor: pointer;
  }
  z-index: 1;
  display: block;
  background: #fff;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 22.5px;
  right: 25px;
  margin: auto;
  border-radius: 50%;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.menu__list {
  padding: 0;
  margin: 20px 0;
}

.item__anchor {
  transition: 0.5s;
  padding: 25px;
  display: block;
  text-decoration: none;
  color: #666;
  box-shadow: inset 0px 0 0 #0000;
  &:hover {
    box-shadow: inset 10px 0 0 #fff;
    text-decoration: underline;
    color: #fff;
  }
}
