.menu-wrap {
  &>div {
    display: flex;
    align-items: center;
  }

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  transition: 0.5s;
}

.menu-wrap ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu-wrap a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  font-family: 'Roboto', cursive;
  font-weight: bold;
  font-size: 16px;

  &:hover {
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
  }
}