[mostradles] {
    h1 {
        font-size: 5vw;
        padding: 50px;
        text-align: center;
    }

    height: 50vh;
    margin: auto;
    width: 100%;
    max-width: 640px;
    padding: 50px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: justify;
}

[mostradles] p span {
    line-height: 1.5;
    will-change: opacity;
    animation: show 1s forwards;
    display: inline-block;
    color: #0000;
    -webkit-animation: show 2.5s forwards;
    white-space: pre;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    @keyframes show {
        from {
            color: #0000;
        }

        to {
            color: #000;
            transform: translateX(0px);
            -webkit-transform: translateX(0px);
            -moz-transform: translateX(0px);
            -ms-transform: translateX(0px);
            -o-transform: translateX(0px);
        }
    }
}