#skills {
    div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }

    ul {
        list-style: circle;
        padding-left: 25px;
        max-width: 640px;
        margin: auto;
    }

    li {
        font-size: 20px;
        margin: 20px 0;
    }
}
