.menu-wrapper {
    position: fixed;
    aside {
        position: absolute;
        bottom: $spacing;
        left: calc(35vw - 30px + 15px);
        @media (max-width: 1080px) {
            left: calc(100vw - 30px - 30px * 2);
        }
        li {
            text-align: center;
        }
        a { 
            color: #fff;
        }
        i {
            padding: 10px;
        }
    }
}
