.menu-wrapper {
    position: fixed;
    aside {
        position: absolute;
        bottom: $spacing;
        left: calc(70vw - 30px * 2);
        li {
            text-align: center;
        }
        a { 
            color: #fff;
        }
        i {
            padding: 10px;
        }
    }
}
