#vimeoVideos {
    position: relative;
}

#videos {
    div:not(.video):not(.timeline) {
        h3 {
            color: #000d;
            font-weight: bold;
            letter-spacing: 4px;
            padding: 20px 0 10px;
        }

        i {
            color: #0008;
            font-size: 14px;
            letter-spacing: 4px;
        }

        width: 80%;
        padding: 0% 14vw 10%;
        font-size: 18px;

        @media (max-width: 1080px) {
            padding: 0% 20px 10%;
        }
    }
}

.video {
    cursor: url(../img/svg/play.svg), pointer;
    position: relative;

    video {
        height: 80%;
        width: 100vw;
    }

    &:hover {
        .timeline,
        .equalizer {
            opacity: 1;
        }
    }
}

.cursor {
    opacity: 0.35;
    cursor: none;
    padding: 0px;
    color: #666;
    font-size: 42px;
    text-align: center;
    margin: auto;
    bottom: -18px;
    display: block;
    right: 0;
    left: 0;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
    text-shadow: 0 0 15px #333;
}

.equalizer:hover+.cursor {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.equalizer {
    width: 50px;
    height: 50px;
    bottom: 45px;
    border: 1px solid #fff;
    right: 2.5vw;
}

.timeline,
.equalizer {
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.timeline {
    background: #fff4;
    bottom: 70px;
    left: 0;
    right: 0;
    height: 2px;
    width: 55%;
    margin: auto;

    @media (min-width: 1080px) {
        width: 75%;
    }

}

.current {
    background: #fff;
    height: 2px;
    padding: 0 !important;
    width: 0;
    display: block;
}