#content {
    &>section {
        min-height: 100vh;
        background: #fff;
    }

    filter: blur(233px) brightness(0%);
    -webkit-filter: blur(233px) brightness(0%);

    animation: unblur 2s forwards;
    -webkit-animation: unblur 2s forwards;

    @keyframes unblur {
        from {
            filter: blur(233px) brightness(0%);
            -webkit-filter: blur(233px) brightness(0%);
        }

        to {
            filter: blur(0) brightness(100%);
            -webkit-filter: blur(0) brightness(100%);
        }
    }
}