::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #f4f4f4; 
}
::-webkit-scrollbar-thumb {
    background: #000;
}
::-webkit-scrollbar-thumb:hover {
    background: #111; 
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto';
  margin: 0;
  overflow-x: hidden;
}

h2 {
  letter-spacing: 10px;
  font-family: 'Rolade';
  font-size: 34px;
  padding: 80px 0;
  color: #0008;
  text-align: center;
  text-transform: uppercase;
}