@mixin button($background: $button-default-color){
    background: $background;
    &:hover{
        cursor: pointer;
    }
}

@mixin thumbBar($w: 4px, $c1: #000, $c2: #333, $bg: transparent, $bdrs: 2px){
    ::-webkit-scrollbar {
        width: $w;
    }
    ::-webkit-scrollbar-track {
        background: $bg; 
    }
    ::-webkit-scrollbar-thumb {
        background: $c1; 
        border-radius: $bdrs;
        &:hover{
            background: $c2;
        }
    }
}

@mixin fadeIn {
    opacity: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    animation: fadeIn 1s forwards;
    -webkit-animation: fadeIn 1s forwards;
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
