[fadeIn] {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  img {
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
}
[fadeIn="show"] {
  opacity: 1;
}
[fadeIn="hide"] {
  opacity: 0;
}
